:root{
    --naranjo:rgb(244, 72, 58);
}
#top{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
#logo{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
#logo p:nth-child(1){
    color:var(--naranjo);
}
#logo p:nth-child(2){
    
}
#menu{
    display: flex;
    justify-content: space-between;
}

#menu nav ul{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
#menu nav ul li{
    list-style: none;
    padding: 1px 20px;
    
}
.conLinea {
    border-right: 1px solid black;
}